.nav__bar {
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 10px 10px;
    
    &__link {
        padding: 0 5px;
        color: $colorBlack;
        text-decoration: none;
        margin-right: 10px;
    }
    &__cart {
        padding: 0 5px;
        margin-right: 10px;
    }
    &__search {
        border-style: solid;
        border-radius: 20px;
        border-color: $colorBlack;
    }
}


