.news {
    display: flex;
    // justify-content: space-evenly;

    &__img {
        padding-left: 50px;
        position: relative;
        z-index: 10;

    }
    
    &__text {
        display: inline-block;
        text-align: left;
        padding-top: 130px;
        padding-left: 30px;
        background-color: $colorGrey;
        position: relative;
        z-index: 10;
    }
    &__textline {
        position: absolute;
        z-index: -1;
    }
}